div.main {
	min-height: 100%;
	background-color: #DBD1B4;
}
html, body {
	height: 100%;
	margin: 0;
}	
div.a {
	text-align: center;
}
div.footer {
        position: fixed;
        left:0;
        bottom:0;
	background-color: gray;
        text-align:center;
        width:100%;
        color:white;
}



div.a {
	text-align: center;
}
div.b {
	color: white;
}
div.d {
	text-align: center;
	height:100%;
}
div.e {
	text-align: center;
	height: 100%;
  }
ul {
	text-align: left;
	color: #2F4F4F;
  }
ul li{
        font-size:20px;
}
table, td {
  border: 2px solid white;
  text-align: left;
  width: 40%;
  border-collapse: collapse;
  padding: 20px;
  }
tr:nth-child(even) {
  background-color: #BDB76B;
  }
tr:nth-child(odd) {
  background-color: #DDD;
}
tr:hover td{
  background-color: #FAFAD2;
  }
table.center {
  margin-left:auto;
  margin-right:auto;
  }
table {
	color: #2F4F4F;
}
div.footer {
        position: fixed;
        left:0;
        bottom:0;
	background-color: gray;
        text-align:center;
        width:100%;
        color:white;
}
div.main {
	min-height: 100%;
	background-color: #DBD1B4;
}
html, body {
	height: 100%;
	margin: 0;
}	
a.ref1:hover {
  color: white;
}
a.ref2:hover {
  color:blue;
}

div.f {
	text-align: center;
}
div.config {
	height: 100%;
	background-color: #DBD1B4;
}
html, body {
	height: 100%;
	margin: 0;
}
div.g {
	text-align: center;	
}
div.h {
	text-align: center;
}
form {
	text-align: left;
}
div.footer {
        position: fixed;
        left:0;
        bottom:0;
	background-color: gray;
        text-align:center;
        width:100%;
        color:white;
}
div.volver {
        text-align:center;
        width:100%;
        
}
a.ref3:hover {
	color:gray;
}
a.ref4:hover {
  color:gray;
}
form {
	color: #2F4F4F;
}